/****** Tag styles ******/

/* Disable ability to select images */
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 18px;
  letter-spacing: .02em;
}

a { 
  color: white;
  text-decoration: none;
}

/****** Applied styles ******/

.centered-bg-img {
  background-position: center center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

/****** Container styles ******/

#root {
  display: flex;
  flex-direction: column;
}

header, #display, #navigation {
  width: 100%;
}

header {
  height: 35px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: #111111;
}

header h1, #header-link-right {
  margin: 7px 14px;
}

#header-link-right {
  text-align: right;
}

#display {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.display-img {
  position: absolute;
  max-height: 80%;
  max-width: 80%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.display-img-visible {
  opacity: 1;
}

#navigation {
  width: 100%;
  text-align: center;
}

#scroll-buttons {
  margin-bottom: 15px;
}

#scroll-buttons * {
  vertical-align: middle;
}

#fullscreen-button {
  margin-right: 30px;
}

.scroll-button {
  border: 1px solid #111111;
  margin: 0 4px;
  background-color: black;
  background-size: 11px 11px;
  width: 26px;
  height: 26px;
}

button {
  outline: none;
}

[data-whatintent='mouse'] button:hover {
  background-color: #111111;
}

[data-whatintent='keyboard'] button:focus {
  outline: 2px solid white;
}

#picture-index {
  margin-left: 26px;
}

@media only screen
and (max-width: 900px) {
  .scroll-button {
    background-size: 16px 16px;
    width: 32px;
    height: 32px;
    margin: 0 7px 11px;
  }
}

#thumbnail-bar {
  background-color: #111111;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 80px;
  padding-bottom: 6px;
}

.thumbnail {
  padding: 0 15px;
  display: inline-block;
}

.thumbnail-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.thumbnail img {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  max-width: 50px;
  max-height: 50px;
  transition: border 0.05s, box-shadow 0.05s;
  vertical-align: middle;
}

.thumbnail:hover img {
  border: 1px solid #aaaaaa;
}

.thumbnail--active img {
  border: 1px solid #ffffff !important;
  box-shadow: 0 0 3px 2px black !important;
}
